email:
  enabled: true
  provider: gmail          # "gmail", "qq", or "163"
  address: you@gmail.com
  password: xxxx-xxxx-xxxx-xxxx   # Gmail App Password (NOT account password)
  recipient: you@gmail.com
  subject_prefix: "[Auto Company]"
